* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;


}


:root {

    --green-color: #27ae60;
    --black-color: #192a56;
    --light-color: #c7c4c4;
    --box-shadow: 0 5px 6px 2px #989797;
    --orange-color: #fd8216;
    --second-black: #130f40;

}

body {

    overflow-x: hidden;
}

html {

    font-size: 10px;
}


.firstnavcontainer {

    height: 60px;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 5px 6px -3px #989797;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navcontainer {

    position: relative;
    height: 60px;
    width: 540px;
    display: flex;
    align-items: center;
    align-items: center;
    /* background: red; */
    overflow: hidden;
}

.firstul {

    list-style: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 540px;
}

.firstul1 {

    list-style: none;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    display: none;

}

.firstul1 li {

    border-radius: .2rem;
    margin: 0 1.5rem;
    padding: .5rem;
    transition: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;

}

.firstul li {

    border-radius: .5rem;
    margin: 1rem;
    padding: .5rem;
    transition: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    height: 30px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.firstul li a {

    text-decoration: none;
    padding: .5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: rgb(69, 64, 64);
    width: 95px;
    height: 30px;
}

.firstul li:hover {

    background-color: var(--green-color);
    border-radius: .5rem;
    cursor: pointer;
}

#firstli {

    background-color: var(--green-color);
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 1rem;
    height: 29px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstli a {
    color: black;
    width: 95px;
    height: 30px;
}

.firstul li a:hover {

    color: black;
}

.logo {

    height: 60px;
    height: 125px;
    left: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo a {

    text-decoration: none;
    color: var(--black-color);
    font-size: 2.4rem;
    font-family: sans-serif;
    font-weight: 600;
}

#bars {

    padding: 0 1.2rem;
    color: black;
}

.bars1 {

    padding: 0 .9rem;
    height: 16px;
    width: 16px;
}

.search {
    background-color: pink;
    width: 320px;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
}

.select {
    height: 3.5rem;
    width: 5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--light-color);
}

.input {
    height: 3.5rem;
    width: 100%;
    font-size: 1.4rem;
    padding-left: 1rem;
    font-family: sans-serif;
    background-color: #f5efef;
    color: black;
}

.search-icon {
    height: 3.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    /* align-items: center; */
    background-color: #febd68;
    color: #0f1111;
    font-weight: bolder;
}

::placeholder {

    color: var(--second-black);
}


.upperdelivery {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 55px;
    overflow: hidden;
    margin: 0 3rem;
}

#insidedelivery1 {

    font-size: 1.3rem;
    font-family: arial;
}

#insidedelivery2 {

    margin-top: .4rem;
    font-size: 1.5rem;
    font-family: arial;

}

#insidedelivery2 i {

    margin-right: .3rem;
    font-weight: 900;
}

main {

    min-height: calc(100vh - 60px - 60px);
    margin-top: 60px;

}

.section1 {
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.immermain1-img img {

    height: 3rem;
    width: 3rem;
    object-fit: cover;
}

.immermain1-img {

    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: #ffeec0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg {

    font-size: 2rem;
    font-family: sans-serif;
    padding-left: 1rem;
    color: #b58186;
}

.innermain1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}



.section2 {
    display: flex;
    justify-content: center;
   
}

.section3 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.section2img1 {

    width: 350px;
    height: 400px;
    padding: 5rem 1.5rem;
    margin: 0 2rem;
    overflow: hidden;

}

.section2img1:hover {

    box-shadow: 1px 1px 10px 2px #d2cfcf, -1px -1px 10px 2px #d2cfcf;
    border-radius: 2rem;
    cursor: pointer;
}

.section2lines {
    margin-top: 1rem;
}

.innersection2lines {

    display: flex;
    justify-content: space-between;
    font-family: inter;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.innersection2lines1 {

    display: flex;
    justify-content: space-between;
    font-family: ui-monospace;
    color: rgb(120, 120, 120);
    font-size: 1.6rem;

}

.section2lines2 {

    margin-top: .5rem;
    text-align: end;
}

#time {

    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;

}

.lines2 {

    height: 2.5rem;
    width: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 150, 63);
    border-radius: .9rem;
    border: solid rgb(36, 150, 63);
    overflow: hidden;
}

.lines2 b {
    color: white;
    font-family: arial;
}

.section2lines2 {
    text-align: end;
}

.pro {

    height: 250px;
    width: 330;
    background-color: #fff;
    border-radius: 30px;

}


.proimg {

    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border: 1px solid red; */
    border-radius: 30px;
}

.foodmsg {
    font-size: 1.5rem;
    font-family: arial;
    color: gray;
    display: flex;
    justify-content: space-evenly;
    height: 7rem;
    align-items: center;
}


.foodmsg1 {
    font-size: 1.5rem;
    font-family: arial;
    color: gray;
    display: flex;
    justify-content: space-evenly;
    height: 7rem;
    align-items: center;
   
}

.eat-with{
 
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: typing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes typing {

    0% {

        width: 0ch;
    }

    50% {

        width: 25ch;
    }

    100% {
        width: 0ch;
    }
}

.r{
    height: 17.5rem;
    width: 17.5rem;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition:  all;
    transition-duration: .3s;
    transition-timing-function: linear;
   
}


.r:hover{

    box-shadow: 5px 5px 8px 0px #989797, -5px -5px 8px 0px #989797;
    cursor: pointer;
  
}


.off {

    height: 50vh;
    width: 100vw;
    /* background-color: rgb(140, 129, 129); */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* padding: 0 15rem; */

}

.insideoff {
    height: 37vh;
    width: 1100px;
    border-radius: 1rem;
    overflow: hidden;

}

.insideoff img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 1rem;
}

.section7 {

    height: 21rem;
    justify-content: center;
    background-color: #fff;
    display: grid;
    align-items: center;
    margin-bottom: 3.5rem;
}

.smallslider {

    height: 21rem;
    background-color: #fff;
    display: grid;
    align-items: center;
    width: 1110px;
}

.innersmallslider {

    height: 19rem;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1110px;

}

.circle-lines {

    width: 12.5rem;
    display: flex;
    justify-content: center;
}

.circle-lines a {
    font-size: 1.6rem;
    font-family: 'Inter';
    color: black;
    font-weight: 550;
}

.circle-img1 {

    height: 13rem;
    width: 13rem;

}

.circle-img1 img {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.last-Section {

    height: 40vh;
    display: flex;
    box-shadow: 0 -5px 6px -3px #989797;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: #f8f8f8;
}

.innerlast-Section {
    height: 30vh;
    width: 78vw;
    display: flex;
    justify-content: space-evenly;

}

.firstdiv {
    font-size: 1.5rem;
    font-family: arial;
    overflow: hidden;
    text-transform: capitalize;
    line-height: 2.3rem;
    color: gray;
}

.lastul {

    list-style: none;
}

.firstdiv h2 {

    margin-bottom: 2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.inner-thirddiv h3 {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 2rem 0;
}

.secondlastdiv {

    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.secondlast-img {

    height: 20vh;
    width: 16vw;

}

.secondlast-img img {
    height: 100%;
    width: 100%;
}

.secondlastdiv h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    margin-left: 1.5rem;
}

.footer-first-div {
    font-size: 1.8rem;
}

#instagram {
    color: rgb(251, 8, 48);
}

#facebook {
    color: rgb(35, 14, 228);
}

#phone {
    color: darkgreen;
}

#linkedin {
    color: #0408ff;
}

#Telegram {
    color: rgb(5, 205, 255);
}

#youtubelogo {
    color: red;
}

footer {

    height: 60px;
    background-color: #fff;
    font-size: 1.6rem;
    font-family: math;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #a29f9f;
}

span {
    color: rgb(3, 20, 254);
    font-weight: bold;
}
